/* =========================================================*/
/*                          ABOUT                           */
/* =========================================================*/

#about {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: auto;
    background-color: #556d68;
    width: 100vw;
}
#about .aboutMeContent{
    display: flex; 
    flex-direction: column;
    width: 100%;
    color: var(--clr-primary-900);
}
#about img {
    width: 16rem;
    margin: 2rem 0;
}
#about h4 {
    margin-bottom: .75rem;
}
button {
    border: none; 
    margin: 20px 0 20px 0;
    padding: 10px;
    color: var(--clr-primary-900);
    font: var(--ff-body);
    width: fit-content;
    transition: background-color 0.5s ease, filter 0.2s ease-in-out, transform 0.2s;
    background-color: #e3dea4;
    border-radius: 5px;
}
button:hover {
    color: var(--clr-primary-900);
    background-color: white;
    filter: drop-shadow(-1px 1px 3px var(--clr-primary-400));
    transform: translateY(-4px);
}
#about button:active {
    transform: translateY(4px);
}

@media screen and (max-width:820px) {
    #about h1.cursive-heading {
        font-size: 4.209rem;
    }
}

@media screen and (max-width:480px) {

    #about h3 {
        margin: 1rem 0;
    }
}