/* =========================================================*/
/*                          ABOUT                           */
/* =========================================================*/

#about {
    flex-direction: column;
    background-color: var(--clr-primary-200);
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    height: auto;  
}
#about .aboutMeContent{
    display: flex; 
    flex-direction: column;
    color: var(--clr-primary-900);
}
#about img {
    width: 50%;
    margin: 1rem 0;
}
#about h4 {
    margin-bottom: .75rem;
}
#about ul {
    padding: 0 0 0 1rem;
}
#about li {
    list-style-type:circle;
    
}

#about .skills {
    display: flex;

    flex-wrap: wrap;
}

#about .skills svg {
    width: 36px;
    margin: 1rem;
}
#about .skill-icon {
    fill: var(--clr-primary-300);
}
/* ===================================================== */
/* Wide Screen */
@media screen and (min-width:1920px) {
    
    #about .aboutMeContent, 
    #about h2,
    #about form {
        max-width: 1200px;
    }

}
@media screen and (max-width:820px) {
    #about {
        padding: 1rem 5rem;
    }
    #about h1.cursive-heading {
        font-size: 4.209rem;
    }
}

@media screen and (max-width:480px) {
    #about {
        padding: 1rem 2rem;
    }
    #about h3 {
        margin: 1rem 0;
    }
    #about .skills {
        align-items: center;
        justify-content: center;
    }
    #about .skills svg {
        width: 45px;align-self: center;
    }
    
}