@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro:wght@300&display=swap');

@font-face {
    font-family: 'Southam Demo';
    src: url(../fonts/SouthamDemo.otf) format('opentype');
    /* Adding all src */
    src: url(../fonts/SouthamDemo.eot); /* IE9 Compat Modes */
    src: url(../fonts/SouthamDemo.woff2) format('woff2'), /* Super Modern Browsers */
         url(../fonts/SouthamDemo.woff) format('woff'), /* Pretty Modern Browsers */
         url(../fonts/SouthamDemo.ttf)  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Mungo Italic';
    src: url(../fonts/MungoItalic.otf) format('opentype');
    src: url(../fonts/MungoItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Mungo';
    src: url(../fonts/Mungo.otf) format('opentype');
    src: url(../fonts/Mungo.ttf) format('truetype');
}
@font-face {
    font-family: 'Mono';
    src: url(../fonts/Minimal-Mono-Regular.otf) format('opentype');
   
}
/* =========================================================*/
/*                         TYPE SCALE                       */
/* =========================================================*/

p {
    margin-bottom: 1rem;
    line-height: 1.5;
    color: var(--clr-primary-400);
    font-family: 'Source Code Pro', monospace;
    font-family: ;
}
li {
    line-height: 1.5;
}
h1, h2, h3, h4, h5, a, button, form {
    font-weight: 300;
    line-height: 1.5;
    font-family: 'Source Code Pro', monospace;
    color: var(--clr-primary-400);
}

.subheading {
    font-family: 'Mungo';
    font-weight: lighter;
    color: var(--clr-primary-400);
}
.subheading.white {
    color: var(--clr-primary-200);
}
.white {
    color: var(--clr-primary-200);
}
h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {
    font-size: 1.333rem;
    margin: 0 0 1rem 0;
}
