/* =========================================================*/
/*                           HOME                           */
/* =========================================================*/
#home {
    height: 65vh;
    position: relative;
    align-items: center;
    z-index: -15;
} 

.down-arrow { 
    width: 50px;
    position: fixed;
    align-self: center;
    top: 75vh;
    z-index: -15;
    animation: MoveUpDown 1s ease infinite;
}
@keyframes MoveUpDown {
    0% {
        transform: translateY(-20%);
      }
      50% {
        transform: translateY(20%);
      }
      100% {
        transform: translateY(-20%);
      }
  }
#home .hero {
    display: flex;
    position: fixed;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: -10;
}
#home #name {
    font-family: 'Mungo';
    font-size: 10rem;
    line-height: 1;
}
#home #title {
    text-align: center;
}
/* ===================================================== */
@media screen and (max-width:820px) {
    #home {
        height: 75vh;
    }
    #home .hero {
        width: 85%;
    }
}
@media screen and (max-width:480px) {
    #home #name {
        font-size: 5rem; 
    }
    #home #title {
        /* h3 desktop --> h4 on mobile */
        font-size: 1.333rem;
    }
    .down-arrow {
        top: 75vh;
    }
}