nav {
    /* aspect-ratio: 900/250; */
    display: flex;
    position: sticky; 
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 15vh;
    z-index: 20;  
    transition: all .5s ease-in-out 0s;
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 1rem 4rem;
}
nav .logo {
    width: 90px;

}
nav .logo img {
    width: 100%;
}
nav .container ul {
    list-style: none;
}
nav .container ul li {
    margin: 0 0.25rem;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}
nav .container ul li:hover {
    background-color: var(--clr-primary-300);
    border-radius: 3px;
}
nav .container ul li a {
    letter-spacing: 2px;
    display: inline-block;
    padding: 8px 16px;
    color: var(--clr-primary-900);
    text-decoration: none;
    width: fit-content;
}
nav .container ul li a:hover {
    color: var(--clr-primary-200);
}
nav .container ul li.active {
    /* Hover button */
    background-color: var(--clr-primary-300); 
    border-radius: 3px;
    border: 1px solid var(--clr-primary-200);
}
nav .container ul li.active a {
    /* Hover button text color */
    color: white;
}
/* .wave-nav {
    aspect-ratio: 900/300;
    filter: drop-shadow(0 -1px 15px var(--clr-primary-300));    
    width: 100vw;
    position: absolute; 
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -10;
    background-image: url('../svg/wave-nav.svg');
} */
/* ===================================================== */
/* Wide Screen */
@media screen and (min-width:1920px) {
    .wave-nav {
        aspect-ratio: 900/300;
    }
}
@media screen and (max-width:820px) {
    .wave-nav {
        height: 20vh;
    }
    
}
@media screen and (max-width:480px) {
    nav .container {
        margin: 0 2rem;
    }
    nav ul {
        display: none;
    }
    .wave-nav {
        height: 20vh;
    }
}
