/* =========================================================*/
/*                          PROJECTS                        */
/* =========================================================*/
#projects {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
    height: fit-content;
}
.projectCard { 
    display: flex;
    width: 350px;
    height: 575px;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.projectCard a {
    /* Make button as wide as text inside it */
    width: fit-content;
    padding: 10px; 
    margin: 0;
    background-color: var(--clr-primary-400);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: background-color .2s ease-in-out,
                transform .2s ease-in-out;
}
.projectCard a:hover{
    background-color: white;
    transform: translateY(-4px);
    filter: drop-shadow(1px 2px 4px #c3c3c3);
    color: var(--clr-primary-900);
}
.projectCard a:active {
    transform: translateY(4px);
}
.projectContainer img {
    width: 100%;
    filter: contrast(60%) grayscale(100%);
    border-radius: 5px;
    transition: filter 0.5s;
    margin: 1rem 0;
}
.projectContainer img:hover {
    filter: contrast(60%) grayscale(0%);
}
.projectContainer img.portfolio-mockup {
    filter: contrast(70%);  
}
.projectContainer img.portfolio-mockup:hover {
    filter: contrast(100%);
}
.projectCard .project-btns {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width:820px) {
    #home .hero {
        width: 100%;
    }
}

@media screen and (max-width:480px) {

}