/* =========================================================*/
/*                          PROJECTS                        */
/* =========================================================*/
#projects {
    background-color: var(--clr-primary-300);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    z-index: 15;
    overflow-x: hidden;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
    height: fit-content;
    overflow-y: hidden;
}
.projectCard { 
    display: flex;
    width: 350px;
    height: fit-content;
    padding: 2rem;
    margin: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 5px;
}
.projectCard a {
    /* Make button as wide as text inside it */
    width: 100px;
    padding: 8px;
    margin: 0;
    text-align: center;
    /* background-color: var(--clr-primary-400); */
    border: var(--clr-primary-200) 1px solid;
    text-decoration: none;
    color: var(--clr-primary-200);
    border-radius: 5px;
    transition: background-color .2s ease-in-out,
                transform .2s ease-in-out;
}
.projectCard a:hover{
    background-color: white;
    transform: translateY(-4px);
    filter: drop-shadow(1px 2px 4px #c3c3c3);
    color: var(--clr-primary-900);
    border: none;
}
.projectCard a:active {
    transform: translateY(4px);
}
.projectContainer img {
    width: 100%;
    border-radius: 5px;
    transition: filter 0.5s;
    margin: 1rem 0 2rem 0;
    filter: contrast(50%) drop-shadow(1px 2px 4px #474747);
}

.projectCard .project-btns {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.projectCard .project-btns a {
    margin-right: 1rem;
}

.wave-top {
    aspect-ratio: 905/105;
    filter: drop-shadow(0 -1px 15px var(--clr-primary-300));    
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../svg/wave-top.svg');
    z-index: 15;
}
.wave-line {
    aspect-ratio: 900/75;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../svg/wave-line.svg');
}

.white-bg {
    background-color: var(--clr-primary-200);
    width: 100vw;
}
.wave-bottom {
    aspect-ratio: 905/105;
    filter: drop-shadow(0 -1px 15px var(--clr-primary-300));    
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../svg/wave-bottom.svg');
    z-index: 10;
}
/* ===================================================== */
@media screen and (max-width:820px) {
    .projectCard {
        width: 450px;
        height: auto;
        margin: 1rem 0;
    }
}

@media screen and (max-width:480px) {
    .projectCard {
        padding: 1rem;
        height: fit-content;
    }
}