/* =========================================================*/
/*                    COLORS AND FONTS                      */
/* =========================================================*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display+SC&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Forum&family=Lobster+Two&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Lalezar&family=Water+Brush&display=swap');
:root {
    --clr-primary-200: #e9e5d9;
    --clr-primary-300: #5c5c5c;
    --clr-primary-400: #a6bbc8;
    --clr-neutral-100: #fff;
    --clr-neutral-900: #4e5657;

    --ff-primary: 'Lalezar';
    --ff-body: 'Josefin Sans', sans-serif;
}
/* =========================================================*/
/*                    TITLE TRANSITIONS                     */
/* =========================================================*/
.animate__animated.animate__backInDown {--animate-duration: 2s;}
.animate__animated.animate__backInUp {--animate-duration: 2s;}
.animate__animated.animate__fadeInLeft { --animate-duration: 2s; }
.animate__animated.animate__fadeInRight { --animate-duration: 2s; }

/* =========================================================*/
/*                     MAIN PAGE SETUP                      */
/* =========================================================*/
* {
    margin: 0;
    padding: 0;
}
*, 
*::before,
*::after {
    box-sizing: border-box;
}
#page-container {
    background-color: var(--clr-neutral-100);
    position: relative;
    min-height: 100vh;
}
/* Holds all content EXCLUDING the footer */
#main {
    padding-bottom: 15vh; /* FOOTER HEIGHT */
}
section {
    padding: 3rem 0;
    text-align: center;
}
.container {
    margin-inline: auto; /* left and right margin */
    width: min(90%, 70.5rem)
}
.container--narrow {
    max-width: 50rem;
}
/* =========================================================*/
/*                   PAGE TRANSITIONS                       */
/* =========================================================*/
.transition-fade {
    opacity: 1;
    transition: 500ms;
}
html.is-animating .transition-fade {
    opacity: 0;
}
/* =========================================================*/
/*                          NAV                             */
/* =========================================================*/
.menuBar {
    height: 50px;
}
.nav {
    /*Background color of menu bar*/
    background-color: var(--clr-primary-400);
    position: absolute;
    justify-content: center;
    width: 100%;
    z-index: 1;
}
.nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
}
.nav ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}
button {
    width: 75px;
    color: var(--clr-primary-300);
    background-color: var(--clr-primary-400);
    margin: 6px;
    font-family: 'Cormorant', sans-serif;
    font-size: 1.3125rem;
    border: none;
    transition: ease-out 0.3s;
    border-radius: 2px;
}
/* Change the link color on hover*/
button:hover {
    box-shadow: inset 100px 0 0 0 var(--clr-primary-200);
    color: var(--clr-primary-300);
}
/* =========================================================*/
/*                          HOME PAGE                       */
/* =========================================================*/
header {
    display: block;
    padding: 2rem 0; 
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    text-shadow: -5px -5px 2px var(--clr-primary-200)
}
header h1 {
    font-family: var(--ff-primary);
    font-style: bold;
    font-size: 4rem;
    color: var(--clr-primary-300);
}
.container h2{
    font-size: 1.5rem;
    font-style: bold;
    color: var(--clr-primary-300);
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 2.5rem;
}
.profileImage img { 
    width: 50%;
    max-width: 350px;
    min-width: 300px;
    margin-top: -4rem;
    border-radius: 50%;
    border: solid var(--clr-primary-400) 4px;
}
.aboutMeContent {
    padding: 2rem 0 0 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
}
#section2 {
    height: 50rem;
    background-color: var(--clr-primary-200);
}
/* =========================================================*/
/*                       PROJECTS PAGE                      */
/* =========================================================*/
.projects {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-primary-200);
}
/* =========================================================*/
/*                          BLOG PAGE                       */
/* =========================================================*/


/* =========================================================*/
/*                          CONTACT PAGE                    */
/* =========================================================*/


#contactimage {
    display: flex;
    margin: 0 auto;
    height: 300px; 
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: solid var(--clr-primary-400) 4px;
}



/* =========================================================*/
/*                          FOOTER                          */
/* =========================================================*/
#footer {
    height: 15vh; /* FOOTER HEIGHT */
    display: flex;
    width: 100%;
    background: var(--clr-neutral-900);
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute; /* Keeps footer at the bottom */
    bottom: 0; 
}
.buttonContainer .button {
    display: inline-block;
    height: 45px;
    width: 45px;
    margin: 0 15px;
    background-color: var(--clr-neutral-100);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 15px black;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s; /* Safari */
}
.buttonContainer .button:hover {
    box-shadow: 0px 2px 10px 5px var(--clr-primary-200);
    background-color: var(--clr-neutral-100);
}
 .buttonContainer .button .icons {
    transition: all .4s ease-out;
    display: inline-block;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 45px;
    
 }
 .buttonContainer .button .icons i {
    font-size: 25px;
    line-height: 45px;
    color: var(--clr-neutral-900);
 }


/* =========================================================*/
/*                     RESPONSIVE DESIGN                    */
/* =========================================================*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .container {
        
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        /* background-color: purple; */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container {
        /* background-color: red; */
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container {
        /* background-color: dodgerblue; */
    }
 }